@keyframes quick-scale-up {
  0% {
    transform: scale(0);
    visibility: visible;
    backdrop-filter: blur(0);
  }

  1% {
    transform: scale(1);
    visibility: visible;
    backdrop-filter: blur(0);
  }

  100% {
    transform: scale(1);
    visibility: visible;
    backdrop-filter: blur(8px);
  }
}

@keyframes quick-scale-down {
  0% {
    transform: scale(1);
    visibility: visible;
    backdrop-filter: blur(8px);
  }

  99% {
    transform: scale(1);
    visibility: visible;
    backdrop-filter: blur(0);
  }

  100% {
    transform: scale(0);
    visibility: hidden;
    backdrop-filter: blur(0);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0.8) translateY(200px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes scale-down {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(200px);
    opacity: 0;
  }
}

.modal-root {
  position: fixed;
  z-index: 20;

  width: 100%;
  height: 100%;

  transform: scale(0);
  visibility: hidden;
  backdrop-filter: blur(0);
}

.modal-root.active {
  animation: quick-scale-up 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.modal-root.inactive {
  animation: quick-scale-down 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.modal-root .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 300px;
  min-height: 700px;
  width: 100%;
  height: 100%;

  opacity: 0;
  transform: scale(0) translateY(200px);
}

.modal-root.active .modal-container {
  animation: scale-up 0.4s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.modal-root.inactive .modal-container {
  animation: scale-down 0.4s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}
