.react-diagram__port {
  border-radius: none;
  width: 18px;
  height: 14px;
  border-color: transparent;
  background-color: transparent;

  box-sizing: content-box;
  background-clip: content-box;
}

.react-diagram__port-top {
  padding-inline: 20px;

  top: -14px;
  border-radius: 40% 40% 0 0 !important;
}

.react-diagram__port-bottom {
  padding-inline: 20px;
  bottom: -14px;

  border-radius: 0 0 40% 40% !important;
}

.react-diagram__port-left {
  padding-block: 20px;

  left: -14px;
  width: 14px;
  height: 18px;
  border-radius: 40% 0 0 40% !important;
}

.react-diagram__port-right {
  padding-block: 20px;

  right: -14px;
  width: 14px;
  height: 18px;
  border-radius: 0 40% 40% 0 !important;
}

.react-diagram__port {
  border-radius: 0;
  background-color: theme("colors.palette.neutral.bg");
  /* border-color: theme("colors.white"); */
}

.react-diagram__port:hover {
  background-color: theme("colors.palette.neutral.color"); /* yellow-400 */
}
.start-node .react-diagram__port {
  background-color: theme("colors.palette.success.bg");
  /* border-color: theme("colors.white"); */
  /* border-color: theme("colors.palette.success.border"); */
}
.task-node .react-diagram__port {
  background-color: theme("colors.palette.primary.bg");
  /* border-color: theme("colors.white"); */
  /* border-color: theme("colors.palette.primary.border"); */
}
.service-node .react-diagram__port {
  background-color: theme("colors.palette.secondary.bg");
  /* border-color: theme("colors.white"); */
  /* border-color: theme("colors.palette.secondary.border"); */
}

.decision-node .react-diagram__port {
  background-color: theme("colors.palette.warning.bg");
  /* border-color: theme("colors.palette.warning.border"); */
}

.decision-node .react-diagram__port-top {
  top: -34.02px;
}

.decision-node .react-diagram__port-bottom {
  bottom: -34.02px;
}

.decision-node .react-diagram__port-left {
  left: -34.02px;
}

.decision-node .react-diagram__port-right {
  right: -34.02px;
}
