.react-diagram__port {
  width: 12px;
  height: 12px;
  border-color: transparent;
  background-color: transparent;
}

.decision-node .react-diagram__port {
  background-color: theme("colors.palette.warning.bg"); /* yellow-500 */
  border-color: theme("colors.palette.warning.border"); /* yellow-600 */
}

.decision-node .react-diagram__port:hover {
  background-color: theme("colors.palette.warning.color"); /* yellow-400 */
}
